<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="@Url.Content("~/Content/Styles/bootstrap.min.css")" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="@Url.Content("~/Content/Styles/Layout.css")" />
    <meta name="viewport" content="width=device-width" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="@Url.Content("~/Content/Scripts/Shared.js")"></script>
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="header-container">
        <div class="top">
            <div class="top-inner">
                <div class="pj-top-left"></div>
                <div class="pj-top-right">
                    <span class="glyphicon glyphicon-envelope"></span><a class="pj-anchors" href="mailto:contact@propertyjunction.co.in">contact@propertyjunction.co.in</a>
                    <span class="glyphicon glyphicon-phone"></span><a class="pj-anchors" href="mailto:contact@propertyjunction.co.in">+91 000-000-0000</a>
                </div>
            </div>
        </div>
        <div class="header">
            <div class="header-inner">
                <div class="logo">
                    <a href="@Url.Content("~/Home")">
                        <h1 style="margin-top: 0px;">
                            Property Junction
                        </h1>
                    </a>
                </div>
                <div class="navigation">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#">Properties <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                @foreach (Tuple<string, string> item in ViewBag.DDLPropertyType)
                                {
                                    <li><a href="@Url.Content(item.Item1)">@item.Item2</a></li>
                                }
                            </ul>
                        </li>
                        <li><a href="#">About</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div>
        @RenderBody()
    </div>
    <div class="footer">
        <div class="footer-inner">
            <div class="pj-footer-left">© PropertyJunction.co.in, 2016. All rights reserved. Terms and conditions</div>
        </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
</body>
</html>
